# Python bytecode
__pycache__/
*.pyc

# Virtual environment
.venv/
.venv312/

# VS Code settings
.vscode/

# OS system files
.DS_Store
Thumbs.db

".venv312/" 
"checkpoints/" 
"ppo_race_tensorboard/" 
"*.zip" 
"__pycache__/" 
